<!DOCTYPE html>
<html lang="en">
    <%-include('./Partial/head.ejs')%>
<body>
    <%-include('./Partial/nav.ejs')%>

    <div class="Blog-Content">
        <h1>Page Not Found</h1>
       

    </div>
    <%-include('./Partial/footer.ejs')%>
    
</body>
</html>