<!DOCTYPE html>
<html lang="en">
    <%-include('./Partial/head.ejs')%>
<body>
    <%-include('./Partial/nav.ejs')%>

    <div class="Blog-Content">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elitdolor sit, amet consectetur adipisicing elit adipisicing elitdolor sit, amet consectetur adipisicing elit.</p>

    </div>
    <%-include('./Partial/footer.ejs')%>
    
</body>
</html>